{{template "base" .}}

{{define "title"}}{{.NewsType}} News{{end}}

{{define "main"}}
    <h2 class="capitalize-first">{{.NewsType}} News</h2>
    {{if .Newses}}
    <div class="table-container">
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Newses}}
            <tr>
                <td><a href='/news/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}