{{template "base" .}}

{{define "title"}}News #{{.News.ID}}{{end}}

{{define "main"}}
    {{with .News}}
    <div class="card">
        <div class="metadata">
            <strong>{{.Title}}</strong>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            <time>Created: {{humanDate .Created}}</time>
        </div>
    </div>
    {{end}}
{{end}}