* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

header, nav, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

h1 a {
    font-size: 36px;
    font-weight: bold;
    background-image: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px ;
    background-size: 12%;
    height: 36px;
    padding: 8px 0 22px 55px;
    position: relative;
}

h1 a:hover {
    text-decoration: none;
    color: #34495E;
}

main h2 {
    font-size: 32px;
    margin-bottom: 36px;
    position: relative;
    top: -9px;
    padding: 2px calc((100% - 800px) / 2) 0;
}

a {
    color: #163269;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: underline;
}

textarea, input:not([type="submit"]) {
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

header {
    background-size: 100% 6px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #E4E5E7;
    overflow: auto;
    padding-top: 33px;
    padding-bottom: 27px;
    text-align: center;
}

header a {
    color: #34495E;
    text-decoration: none;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    transition: all 0.3s ease;
    opacity: 0.8;
}

nav a:hover:not(a.live) {
    color: #62CB31;
    padding-top: 1px;
    opacity: 1;
}

nav a.live {
    color: #34495E;
    cursor: default;
}

nav a.live:hover {
    text-decoration: none;
}

nav a.live:after {
    content: '';
    display: block;
    position: relative;
    left: calc(50% - 7px);
    top: 9px;
    width: 14px;
    height: 14px;
    background: #F7F9FA;
    border-left: 1px solid #62CB31;
    border-bottom: 1px solid #62CB31;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
}

a.button, input[type="submit"] {
    background-color: #62CB31;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 18px 27px;
    border: none;
    display: inline-block;
    margin-top: 18px;
    font-weight: 700;
}

a.button:hover, input[type="submit"]:hover {
    background-color: #4EB722;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form div {
    margin-bottom: 18px;
}

form div:last-child {
    border-top: 1px dashed #E4E5E7;
}

form input[type="radio"] {
    position: relative;
    top: 2px;
    margin-left: 18px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
    padding: 0.75em 18px;
    width: 100%;
}

form input[type=text], form input[type="password"], form input[type="email"], textarea {
    color: #6A6C6F;
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

form label {
    display: inline-block;
    margin-bottom: 9px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

textarea {
    padding: 18px;
    width: 100%;
    height: 266px;
}

button {
    background: none;
    padding: 0;
    border: none;
    color: #62CB31;
    text-decoration: none;
}

button:hover {
    color: #4EB722;
    text-decoration: underline;
    cursor: pointer;
}

.card {
    background-color: white;
    border: 1px solid #E4E5E7;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

.card pre {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.card .metadata {
    background-color: #1CBAEB;
    color: white;
    padding: 0.75em 18px;
    overflow: auto;
    border-radius: 10px;
}

.card .metadata span {
    float: right;
}

.card .metadata strong {
    color: white;
}

.card .metadata time {
    display: inline-block;
}

.card .metadata time:first-child {
    float: left;
}

.card .metadata time:last-child {
    float: right;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

.container-news {
    border-radius: 30px;
    border: 1px solid #3DB166;
    padding: 30px 0;
    margin: 0 240px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

table {
    background: papayawhip;
    border-collapse: collapse;
    width: 80%;
    border-radius: 50%;
}

td, th {
    text-align: left;
    padding: 9px 18px;
}

th:last-child, td:last-child {
    text-align: right;
    color: #F00075;
}

th:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

th:last-child {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

td:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

td:last-child {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(2n) {
    background-color: #1CBAEB;
    color: white;
}

.capitalize-first {
    text-transform: capitalize;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding: 70px 0 70px 70px;
    margin-top: 30px;
    background: #1C1C1C;
}

.footer-copyright {
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

.footer .container {
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #3DB166;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}

.footer-col ul {
    padding: 0;
}

.footer-col ul li a {
    margin-bottom: 10px;
    color: #bbbbbb;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 60%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: black;
    background-color: #ffffff;
}

/* responsive footer */
@media(max-width: 1024px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.background-img {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("/static/img/aituin.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin-bottom: 30px;
}

.background-text {
    position: absolute;
    bottom: 200px;
    width: 90%;
    padding-left: 60px;
    padding-right: 60px;
}

.background-text h4 {
    font-size: 44px;
    font-weight: bold;
    line-height: normal;
}

.background-text p {
    font-size: 22px;
}

.background-text .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1CBAEB;
    height: 5px;
    box-sizing: border-box;
    width: 100%;
}